:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
}
[v-cloak] {
  display: none;
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  perspective-origin: 50% 50%;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url(/img/bg.jpg);
  background-color: rgba(0, 0, 0, .7);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
}

.surprise {
  box-shadow: 0px 0px 10px 10px rgb(255 255 255 / 40%);
}

.surprise:before,
.surprise:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.surprise:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.surprise:after {
  opacity: 1;
  background-image: url("/img/sparkles.gif"), url("/img/holo.webp"), linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}

.in_content .card_in {
  width: 300px;
  height: 350px;
}

.in_content .card_in .img_content {
  height: 120px;
  height: 250px;
}

.card_in .description {
  font-size: 25px !important;
}

.card {
  text-align: left;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 40%);
  width: 25%;
  height: 200px;
  color: white;
  display: inline-block;
  margin: 10px;
  border: none;
  background-color: transparent;
}
.card.flip {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
.card .face {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0.1px);
}
.card .back {
  transform: rotateY(180deg);
}
.card .face {
  border-radius: 10px;
}
.card .front {
  color: #ffffff;
  background-color: #101010;
}
.card .front .logo {
  width: 100px;
  padding: 10px;
}
.card .back {
  font-size: 18px;
  line-height: 1.4em;
  background-color: #333333;
  background-size: cover;
  color: #FFE81F;
}
.rate {
}
.g-1 {
  color: #939393 !important;
}
.gb-1 {
  border-bottom: 3px double #939393 !important;
}

.g-2 {
  color: #40fb4fed !important;
}
.gb-2 {
  border-bottom: 3px double #40fb4fed !important;
}
.g-3 {
  color: #4da5ff !important;
}
.gb-3 {
  border-bottom: 3px double #4da5ff !important;
}
.g-4 {
  color: #ff4c4c !important;
}
.gb-4 {
  border-bottom: 3px double #ff4c4c !important;
}

.in_banners {
  width: 100%;
  height: 200px;
  background-size: 110%;
  background-position: 50% 100%;
  background-image: url('/img/smile1.jpg');
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.open {
  display: block !important;
}

.transparent {
  opacity:0;
}

.in_content {
  width: 650px;
}

.img_content {
  width: 100%;
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card .back img {
  width: 100%;
}
.card .back .description {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}
.card .back .logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  padding: 10px;
  border: none;
}

.item .front {
  background-size:cover;
  background-position: 50% 50%;
  transition: background 0.3s;
}
.item .front:hover {
  background-size:cover;
  background-position: 30% 30%;
  transition: background 0.5s;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 225px;
  background-color: #f5f5f5;
}

.footer .memo {
  font-size: 12px;
}

main {
  padding-top: 70px;
  padding-bottom: 220px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.f-button-div {
  position: relative;
  top: 30%;
}

.f-button-div button{
  height: 80px;
}