html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  perspective: 1500px;
  perspective-origin: 50% 50%;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image: url(/img/bg.jpg);
  background-color: rgba(0, 0, 0, .7);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
}

.card-in {
  width: 500px !important;
  height: 500px !important;
}

.card {
  text-align: left;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 200px;
  height: 250px;
  color: white;
  display: inline-block;
  margin: 10px;
}
.card.flip {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
.card .face {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0.1px);
}
.card .back {
  transform: rotateY(180deg);
}
.card .face {
  border-radius: 10px;
}
.card .front {
  color: #ffffff;
  background-color: #101010;
}
.card .front .logo {
  width: 100px;
  padding: 10px;
}
.card .back {
  font-size: 18px;
  line-height: 1.4em;
  background-color: #333333;
  background-size: cover;
  color: #FFE81F;
}
.rate {
}
.g-1 {
  color: #939393 !important;
}
.gb-1 {
  border-bottom: 3px double #939393 !important;
}

.g-2 {
  color: #40fb4fed !important;
}
.gb-2 {
  border-bottom: 3px double #40fb4fed !important;
}
.g-3 {
  color: #4da5ff !important;
}
.gb-3 {
  border-bottom: 3px double #4da5ff !important;
}
.g-4 {
  color: #ff4c4c !important;
}
.gb-4 {
  border-bottom: 3px double #ff4c4c !important;
}

.in_banners {
  width: 100%;
  height: 250px;
  background-size: 110%;
  background-position: 50% 50%;
  background-image: url('/img/smile.jpg');
}

.in_content {
  width: 500px;
  height: 550px;
  background-color: #fff;
}

.img_content {
  width: 100%;
  height: 160px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card .back img {
  width: 100%;
}
.card .back .description {
  padding: 30px;
}
.card .back .logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  padding: 10px;
  border: none;
}
.card h2 {
  text-transform: uppercase;
  font-size: 58px;
  position: absolute;
  bottom: 70px;
  margin: 0;
  line-height: 0.7em;
  padding: 10px;
}
.card h2 small {
  font-size: 42px;
}
.card cite {
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-size: 10px;
  text-transform: uppercase;
  padding: 20px;
}
.card cite a {
  color: white;
}
.card cite a:visited {
  text-decoration: none;
  color: #aaaaaa;
}

.item h2 {
  font-size: 108px;
  line-height: 0.55em;
  bottom: 80px;
}
.item .front {
  background-size: 240%;
  background-position: 50% 50%;
  transition: background 0.3s;
}
.item .front:hover {
  background-size: 230%;
  background-position: 30% 30%;
  transition: background 0.5s;
}

.mememe {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
.mememe a {
  color: #eeff44;
}
.mememe a:visited {
  color: #eeff44;
}